#phaser {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #phaser>canvas {
    border-radius: 5px;
  }
  body{
      background: black;
      color: white;
      font-family: 'Press Start 2P', cursive;
  } 
  .header {
    font-size: 4em;
    padding: 1em 0em 0.2em
  }
  .subheader {
    font-size: 0.78em;
    padding: 0em 0em
  }

